$material-dark: (
  "background": var(--v-secondary-base),
  "app-bar": var(--v-secondary-base),
  "navigation-drawer": var(--v-secondary-base),
  cards: var(--v-secondary-base)
);

$tooltip-opacity: 1;